@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//DEFINIS SI CEST EN LIGNE OU EN COLONNE
@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

//DEGRADER DE COULEUR SUR LE BOUTON
@mixin button_pink {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

//DELAY DES MENUS
@mixin fade-in-animation($delay) {
    animation: fade-in 0.5s ease-in-out forwards;
    opacity: 0;
    animation-delay: $delay;
  }