//COULEUR VERT DES ANIMATIONS CHECK ET DES BORDURE BOTTOM (ENTREE,PLATS,DESSERTS) ET DES CARDS NEWS
$color_green: #99e2d0;

//COULEUR GRIS DU FOND DES PLATS CARD FONCTIONNEMENT,AUTOUR DU BOUTON EXPLER ET EGALEMENT AUTOUR DU COM DES MENUS DANS LACCUEIL ET DU FOND DES AUTRES PAGES
$gray_menuhome_second_page: #f7f7f7;

//COULEUR GRIS DU FOND AUTOUR DE LA LOCALISATION A L'ACCUEIL
$gray-localisation: #eaeaea;

//COULEUR PRINCIPALE DU SITE
$color_body: #ffffff;

//COULEUR DU TEXTE NOUVEAU
$color_text_new: #008766;

//COULEUR NOIR
$color_black: black;

//COULEUR BLANC
$color_white: white;

//COULEUR DE FOND DE L'ANIMATION DU COEUR
$color_animation_heart: #ff79da;

//COULEUR DU LOADER ET DES ICONES SE TROUVANT DANS L'ACCUEIL
$color_loader_and_icon_home: #7e7e7e;

//COULEUR DE FOND DU FOOTER
$color_font_footer: #353535;
